* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}



#musicBtn {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    background: darkblue;
    border-radius: 50%;
    border: 2px solid skyblue;
    z-index: 100;
    position: absolute;
    top: 5%;
    right: 5%;
    animation: musicKey 3s linear infinite;
}

#musicBtn img {
    width: 18px;

}

@keyframes musicKey {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.swiper-button-next{
    animation:buttonnext 2s infinite;
    button:3%
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:7%;
        opacity: 0;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    margin-left: -10px;
    transform: rotateZ(-90deg)
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7 {
    background: url("../img/bg4.JPG");
    background-size: 100% 100%;
    height: 100%
}
.s1 .header h2{
    color:mediumblue;
    font-size: 28px;
    letter-spacing: 5px;
    padding-top: 20%;
}

.s1 .header img {
    position: absolute;
}

.swing {
    transform-origin: center;
}

.s1 .header img {
    left: 50%;
    width: 60%;
    margin-left: -30%;
    top: 25%;
    animation: pulse infinite
}

.s1 .main {
    position: absolute;
    top: 30%;
    width: 100%;

}
.s1 .main p{
    color:mediumblue;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 150px;
}





.s1 .footer {
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 0px;
}

.s1 .footer h2 {
    font-size: 20px;
    color: mediumblue;
}

.s1 .footer p:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
    color: mediumblue;
    margin-top: 10px;
    margin-bottom: 40px;
}

.s1 .footer p:nth-of-type(2) {
    height: 70px;
    position: absolute
}

.s1 .footer p:nth-of-type(2) img {
    position: absolute;
    height: 70px;
}

.s1 .footer p:nth-of-type(2) img:nth-of-type(1) {
    left: 0px
}

.s1 .footer p:nth-of-type(2) img:nth-of-type(2) {
    left: -39px
}
.s2 {

}

.s2 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    color:mediumblue;
}



.s2 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}



.s2 .main img {
    width: 80%;
}

.s2 .main {
    position: relative;
}

.s2 .main .text {
    position: absolute;
    padding: 5%;
    top: 0px;
    width: 80%;
    left: 10%;
    color:#335ecb;

}

.s2 .main .text p {
    font-size: 16px;
    line-height: 1.6rem;
    text-align: left;
    padding-bottom: 20px;
}




.s3 {
    color: #06ebca
}

.s3 h2 {
    padding-top: 30px;
    color:mediumblue;
}

.s3 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s3 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: "";

}

.s3 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}

.s3 .main {
    position: relative;
    width: 100%;
    height: 400px;

}
.s3 .main img{
    position: absolute;
    width: 180px;
    height: 200px;

}
.s3 .main img:nth-of-type(1){
    top:20%;
    left: 50%;
    margin-left: -90px;

}
.s3 .main img:nth-of-type(2){
    top:70%;
    left: 5%;

}
.s3 .main img:nth-of-type(3){
    top:70%;
    right: 5%;

}




.s4 {

}

.s4 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    color:mediumblue;
}

.s4 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s4 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: ""
}

.s4 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}

.s4 .main img {
    width: 80%;

}

.s4 .main {
    position: relative;
    color:#335ecb;
}

.s4 .main .text {
    position: absolute;
    left: 10%;
    padding: 5%;
    top: 0;
    width: 80%;
    line-height: 30px;
}
.s4 .main .main-footer{
    position: absolute;
    bottom: -15px;
    width: 80%;
    left: 10%;
    font-weight: bold;
    font-size: 30px;
}







.s5 {

}

.s5 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    color:mediumblue;
}

.s5 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s5 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: "";

}

.s5 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}

.s5 .main {
    border-left: 1px dashed #335ecb;
    height: 61%;
    width: 80%;
    margin: auto;
    color:#335ecb;
}

.s5 .main .list2 {
    list-style: none;
}

.s5 .main .list2 li {
    margin-left: -62px;
}

.s5 .main .list2 li span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #00536f;
    border: 2px solid #004157;
    display: inline-block;
    line-height: 26px;
    text-align: center;

}

.s5 .main .list2 li span .pic {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #335ecb;
    display: inline-block;
}

.s5 .main .list2 li h3 {
    background: -webkit-linear-gradient(left, #335ecb, rgb(255,255,255));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #335ecb, rgb(255,255,255));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #335ecb, rgb(255,255,255));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #335ecb, rgb(255,255,255));
    border-top-left-radius: 20px;
    color: black;
    height: 26px;
    width: 256px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 26px;
    margin-left: 8px;
    padding-left: 16px;
    margin-left: 9px;
    margin-bottom: 10px;
    display: inline-block;
}

.s5 .main .list2 li div {
    width: 75%;
    color:#335ecb;

    margin-left: 87px;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.s5 .main .list2 li div p {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    text-align: left;
    color:#335ecb
}

.s6 {

}

.s6 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    color:mediumblue;
}

.s6 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s6 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: "";

}

.s6 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}

.s6 .main img {
    width: 80%;
}

.s6 .main {
    position: relative;
    color:#335ecb;
    height: 300px;
}

.s6 .main .text {
    position: absolute;
    padding: 5%;
    top: 0px;
    width: 80%;
    left: 10%;
    margin-top: 10px;
}

.s6 .main .text input {
    width: 90%;
    height: 58px;
    padding-left: 10px;
}

.s6 .main .text input:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.s6 .main .text button {
    width: 90%;
    height: 58px;
    background: mediumblue;
    color: white;
    margin-top: 20px;
    border: none;
}

.s6 .main .main-footer {
    position: absolute;
    left: 50%;

    bottom: -80px;
    font-size: 14px;
    line-height: 1.6rem;
    text-align: left;
    width: 240px;
    margin-left: -120px;

}




.s7 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    color:mediumblue;
}

.s7 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s7 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: "";

}

.s7 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}

.s7 .main img {
    width: 80%;

}

.s7 .main {
    position: relative;
    color:#335ecb;
    height: 300px;
}





